.oe_container {
    margin: 20px 0px 0px 0px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #ECECEC;
    border-radius:5px;
}
.oe_table th {
    padding: 20px 0px 10px 0px !important;
    line-height: 2;
    width: 100px !important;
}
.oe_table td {
    vertical-align: top;
    text-align: left;
    padding: 10px 0px 0px 0px  !important;
    width: 500px !important;
    line-height: 0;
    font-weight: 600;
}
.oe_input {
    width: 500px;
    height:30px;
    font-color:#ccc;
}
.oe_select {
    width: 500px;
    height:30px;
    font-color:#ccc;
}
.oe_gmaps {
    width:100%;
    height:500px;
    font-color:#ccc;
}